NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
CRON_SECRET=

# Dynamic Host Override (e.g. http://localhost:3001)
NEXT_PUBLIC_SITE_URL=

# Web Push Notifications VAPID Keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

# Gemini AI Companion
GEMINI_API_KEY=
